{% extends 'base.html' %}


{% block extrastyle %}
    <style type="text/css">
    table {
        border-width: thin;
        border-spacing: 0;
        border-style: solid;
        border-color: gray;
        border-collapse: separate;
        background-color: white;
    }
    table th {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    table td {
        border-width: thin;
        padding: 0.5em;
        border-style: solid;
        border-color: gray;
        background-color: white;
        -moz-border-radius: ;
    }
    </style>
{% endblock %}

{% block content %}

<p>
    Searching lab native names for these strings:
    <table>
    <tr> <td>
        {% for s in search_strings %}
          {{ s }} <BR>
	        {% if forloop.counter|divisibleby:"10" %} 
	        </td>
	          {% if not forloop.last %}
	            <td>
	            {% endif %}
	        {% endif %}
        {% endfor %}
    </tr> 
    </table>
</p>


<form method="POST" action="{% url 'ignore_code_set' %}" >
	<p>
	<table>
	    <tr>
		<th />
		<th>Native Name</th>
		<th>Native Code</th>
        <th>Procedure Name</th>
		<th>Lab Record Count</th>
		{% if user.is_staff %}
		<th></th>
		{% endif %}
	    </tr>
	    {% for item in unmapped %}
	    <tr>
		<td><input type="checkbox" name="codes" value="{{ item.native_code }}" id="id_codes_{{ forloop.counter }}">
		<td>{{ item.native_name }}</td>
		<td>{{ item.native_code }}</td>
        <td>{{ item.procedure_name }}</td>
		<td>{{ item.count }}</td>
		{% if user.is_staff %}
		<td><a href="{% url 'map_native_code' item.native_code %}">map</a></td>
		{% endif %}
	    </tr>
	    {% endfor %}
	</table>
	</p>
	<p>
		<input type="submit" name="submit" value="Ignore Selected Codes" />
	</p>
</form>


{% endblock %}
