
{% extends "espbase.html" %}
{% load esplib %}

{% block content %}

<table border="0" width="100%">
<tr>
<td></td>
<td align=right>
<form   method="post" enctype="multipart/form-data">

<table cellspacing="10" cellpadding="3" border="1" width="60%">
<tr><td colspan = "8" align = "center" bgcolor="lightyellow"><span style="font-size: larger; color: #800000; "><b>Search Component Names</b></span></td></tr>
 <tr class="{% cycle row1,row2 as rowcolors %}">

 <th>Component Name contains:</th>
<th></th>
 </tr>

 <tr class="{% cycle rowcolors %}">
 <td>
<input type="text" name="CompName" size="25" value="{{ compname }}" >
 </td>
 
 <td valign="middle"><input type="submit" name="submit" value="Search" ></td>
 </tr>

 </table>
</form>
</td></tr>
</table>


<form action="{{SITEROOT}}/cases/define/detail/" method="post">

{% if lxs %}

<div class="section">
  <br>
  <div style="text-align: center;"><input type="submit" name="submit" value="Show detail info for the checked tests" ></div>
  <h2> {{ numrec }} distinct records Found</h2>

</div>
<br>

<table border=1 cellspacing = "2" cellpadding = "3">
<tr>
  <th>&nbsp;</th>
  <th> Component Name</th>
  <th> CPT</th>
  <th> Component</th>
</tr>
   {% for lx in lxs %}
     <tr class="{% cycle row1,row2 %}">
       <td><input type="checkbox" name={{lx.3}} /></td>
       <td ><b>{{lx.0}}</a></b></td>
       <td><b>{{lx.1}}</b></td>
       <td><b>{{lx.2}}</b></td>
     </tr>

      {% endfor %}

 </table>
{% else %}
     <p>
      <h1>No matched Lx records to show</h1>
     </p>
</div>
{% endif %}
</form>


{% endblock%}
