{% extends "espbase.html" %}


{% block content %}

<table border="0" width="100%">
<tr>
<td></td>
<td align=right>
<form   method="post">
<b>Sort by:&nbsp;</b>
<SELECT name="ORDERBY">
 {% ifequal orderby "cpt" %}<OPTION value="cpt" SELECTED>CPT, Component, LOINC</OPTION> 
 {% else %}<OPTION value="cpt" >CPT, Component, LOINC</OPTION> {% endifequal %}
{% ifequal orderby "cmptname" %}<OPTION value="cmptname" SELECTED>ComponentName, CPT, Component</OPTION> 
{% else%}<OPTION value="cmptname" >ComponentName, CPT, Component</OPTION>  {% endifequal %}
{% ifequal orderby "loinc" %}<OPTION value="loinc" SELECTED>LOINC, CPT, Component</OPTION>
{% else%}<OPTION value="loinc" >LOINC, CPT, Component</OPTION>  {% endifequal %}

</SELECT >
</td>
<td valign="middle">
<input type="hidden" name="table" value="cptloincmap">
<input type="submit" name="submit" value="Show CPT-LOINC maps" ></td>
</tr>
</form>
 </table>




<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

<div style="text-align: center;">
<h2><span style="color: #800000; ">CPT/Component - Loinc Code Map</span></h2>
</div>
<br>

{% if msg %}
     <br><br>
     <div style="text-align: center;">
     <h3><span style="color: blue; "> {{msg}}</span></h3>
      </div>
{% endif %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{{SITEROOT}}/preload/cptloincmap/update/" method="post">
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into a file" >
</div>
<br>
<table cellspacing="10" cellpadding="3" border="1" width="95%">
<tr class="{% cycle row1,row2 as rowcolors %}">
  <th>Id</th>
  <th>CPT</th>
  <th>Component</th>
  <th>ComponentName</th>
  <th>Loinc</th>
</tr>
 {% for mapobj in maps %} 
     <tr  class="{% cycle rowcolors %}">
      <td width="10%"> {{ mapobj.id }}<input type="hidden" name="ID_{{ mapobj.id }}" value={{ mapobj.id }}></td>
      <td width="15%"> <input type="text" name="CPT_{{ mapobj.id }}" size="15" value={{ mapobj.CPT }}> </td>
      <td width="15%"> <input type="text" name="CMPT_{{ mapobj.id }}" size="15" value={{ mapobj.CPTCompt}}> </td>
      <td width="40%"> {{ mapobj.getComptName}} </td>
      <td width="20%"> <input type="text" name="LOINC_{{ mapobj.id }}" size="15" value={{mapobj.Loinc}} ></td>
      </tr>

    {% endfor %}
 {% for i in newrec %}
     <tr  class="{% cycle rowcolors %}">
      <td width="10%"> Add New <input type="hidden" name="ID_NEW{{ i }}" value="NEW{{i}}"></td>
      <td width="15%"> <input type="text" name="CPT_NEW{{ i }}" size="15" > </td>
      <td width="15%"> <input type="text" name="CMPT_NEW{{i}}" size="15" > </td>
      <td width="40%"> &nbsp;</td>
      <td width="20%"> <input type="text" name="LOINC_NEW{{ i}}" size="15" ></td>
      </tr>

    {% endfor %}
  
</table>
<br>
<div style="text-align: center;">
<input type="submit" name="submit" value="Save into a file" >
</div>
</form>


{% endblock %}
