
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
  <head>
    <title>Electronic medical record Support for Public Health (ESPnet)</title>
    <link rel="stylesheet" type="text/css" href="{{ site_css_folder }}base.css" />
    <script type="text/javascript" src="{{ site_javascript_folder }}jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ site_javascript_folder }}flexigrid/flexigrid.js"></script>
    {% block extrastyle %}{% endblock %}
    {% block extrascript %}{% endblock %}
  </head>
<body>
    
  <table width="100%">
    <tr><td colspan="2" >
	<img src="{{MEDIA_URL}}/images/espheader2.png" border="0" />
      </td>
    </tr>
	
    <tr>
      <td width="90" >
	<div id="sidebar">
          {% block sidebar %}
          <p><p>
	      <table cellpadding="1" border="2" bordercolor="white">
		<tr class="{% cycle row2,row1 as rowcolors %}">
                  {% if not user or not user.is_authenticated %}<td>Anonymous
User</td></tr>
                <tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/login/">ESP Login</a></td></tr>
                <tr class="{% cycle rowcolors %}"><td><a href="mailto:ross.lazarus&#64;channing.harvard.edu">Request a new account</a></td></tr>
                {% else %}
                <td>Current user is {{user.get_full_name}}
                  <p>
		    <form action="{% url 'esp.views.esplogout' %}"
			  method="post">
		      <input type="Submit" value="Logout" />
		    </form>
                </td></tr>
                <tr class="{% cycle rowcolors %}"><td> <a href="{{SITEROOT}}/pswdchange/">Change My Password</a></td></tr>
                       
		
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'esp.views.index' %}">ESP Home</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'vaers.views.index' %}">Vaers Home</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'nodis_cases_all' %}">ALL Cases</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'nodis_cases_awaiting_review' %}">Cases Awaiting Review</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'nodis_cases_under_review' %}">Cases Under Review</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'nodis_cases_queued' %}">Cases Queued</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{% url 'nodis_cases_sent' %}">Cases Sent</a></td></tr>
		{% comment %}
		<tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/cases/search/1/FP////">Cases: False Positive</a></td></tr>
		<tr class="{% cycle rowcolors %}"><td><a href="{{SITEROOT}}/cases/sent/">Case Report Archive</a></td></tr>
		{% endcomment %}
		
              {% if user.is_staff %}
                   <tr class="{% cycle rowcolors %}"><td><a href="{% url 'admin_util' %}">Administration &amp; Utilities</a></td></tr>
               {% endif %}
             <tr class="{% cycle rowcolors %}"><td><a href="{% url 'help'%}">Help documentation</a></td></tr>
	         {% endif %} 


        </table>
        {% endblock %}
    </div>
</td><td>
    <div id="content">
        {% block content %} content goes here - override in your template please {% endblock %}
    </div>
    
</td>
<tr>
<td colspan=2>
     <div id="footer">
        {% block footer %}
<p>
&copy; 2006 Ross Lazarus (ross dot lazarus at gmail dot com) from whom source code licensed under the equitable 
protection of the <a href="http://www.gnu.org/licenses/lgpl.html">LGPL</a> is freely available from the project 
<a href="http://esphealth.org"> web site and source code repository</a>

<br>
This <a href="http://python.org">Python</a> application relies on the <a href="http://www.djangoproject.com">
<img src="{{ MEDIA_URL }}/images/django-logo-negative.png" alt='Django' width="60" height="30" border="0"></a> framework 
and the <a href="http://mysql.com">MySQL</a> RDBMS </p>
{% endblock %}
</div>

</td></tr>
</table>  

</body>
</html>
