{% extends "espbase.html" %}


{% block content %}

<h2><a href="javascript:history.go(-1)">Go Back</a></h2>

{% if rule %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table cellspacing="10" cellpadding="3" border="1" width="100%">
<tr><td colspan = "2" align = "center" bgcolor="#800000"><span style="font-size: larger; color: lightyellow; ">Case Definition Rule Details</span></td></tr>
 <tr class="{% cycle row1,row2 as rowcolors %}">
 <td width="30%">Rule Internal ID</td><td>{{rule.id}}</td></tr>
 
 <tr class="{% cycle rowcolors %}">
 <td width="30%">Name</td><td>{{rule.ruleName}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">SQL query</td><td>{{rule.ruleSQL}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Comments</td><td>{{rule.ruleComments}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Message Format</td><td>{{rule.ruleMsgFormat}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Message Destination</td><td>{{rule.ruleMsgDest}}</td></tr>
</table>

{% else %}
    <p>No Rule record available.</p>
{% endif %}
{% endblock %}
