{% extends "vaers.html" %}


{% block content %}
<div>
  <h1>Vaccines</h1>
  <div style="float:left;">
    <h2>Unmapped</h2>
    <table>
      {% for vaccine in unmapped_vaccines %}
      <tr>
	<td>{{vaccine.native_name}}</td>
	<td><a href="{% url 'vaers.vaccine.views.vaccine_detail' vaccine.native_code %}">Edit</a></td>
      </tr>
      {% endfor %}    
    </table>
  </div>
  <div style="float:right;">
    <h2>Mapped</h2>
    <table>
      {% for vaccine in mapped_vaccines %}
      <tr>
	<td>{{vaccine.native_name}}</td>
	<td>{{vaccine.canonical_code_id}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div style="clear:both;">&nbsp;</div>
  <h1>Vaccine Manufacturer</h1>
  <div style="float:left;">
    <h2>Unmapped</h2>
    <table>
      {% for manufacturer in unmapped_manufacturers %}
      <tr>
	<td>{{manufacturer.name}}</td>
	<td><a href="{% url 'vaers.vaccine.views.manufacturer_detail' manufacturer.id %}">Edit</a></td>
      </tr>
      {% endfor %}    
    </table>
  </div>
  <div style="float:right;">
    <h2>Mapped</h2>
    <table>
      {% for manufacturer in mapped_manufacturers %}
      <tr>
	<td>{{manufacturer.name}}</td>
	<td>{{manufacturer.canonical_code}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock %}

